<html>
    <head>
        <title>Todo App</title>
        <style>
            .hidden {display:none;}
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 300px;
            }
            li {
                clear:both;
            }
            li button { 
                -webkit-appearnance: none;
                border:none;
                outline:none;
                color: red;
                float:right;
                cursor: pointer;
                font: 20px;
            }
            .lists-wrapper, .todos-wrapper {
                display: inline-block;
                vertical-align: top;
            }
        </style>
    </head>
    <body>
        <div class="lists-wrapper">
            <ul id="lists">
              {% for list in lists %}
              <li>
                <a href="/lists/{{ list.id }}">
                  {{ list.name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <h4>{{ active_list.name }}</h4>
        <form id="form">
            <input type="text" id="description" name="description">
            <input type="submit" value="Create">
        </form>
        <div class="todos-wrapper">
            <div id="error" class="hidden">Something Went Wrong!</div>
            <ul id="todos">
                {% for d in data%}
                <li id="{{ d.id }}"><input type="checkbox" class="check-completed" data-id="{{ d.id }}" {% if d.completed %} checked {% endif %}/>{{ d.description }}
                <button data-id="{{ d.id }}" class="delete-button">&cross;</button>
                </li>
                {% endfor%}
            </ul>
        </div>
        <script>

            const deleteBtns = document.querySelectorAll('.delete-button');
            for (let i = 0; i < deleteBtns.length; i++) {
                const btn = deleteBtns[i];
                btn.onclick = function(e) {
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId, {
                    method: 'DELETE'
                })
                .then(function() {
                    const item = e.target.parentElement;
                    item.remove();
                    })
                }
            }

            const checkboxes = document.querySelectorAll('.check-completed');
            for (let i = 0; i < checkboxes.length; i++) {
                const checkbox = checkboxes[i];
                checkbox.onchange = function(e) {
                    console.log('event', e);
                    const newCompleted = e.target.checked;
                    const todoId = e.target.dataset['id'];
                    fetch('/todos/' + todoId + '/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(function() {
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function() {
                        document.getElementById('error').className = '';
                })
                }
            }

            const descInput = document.getElementById('description');
            document.getElementById('form').onsubmit = function(e) {
                e.preventDefault();
                const desc = descInput.value;
                descInput.value = '';
                fetch('/todos/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'description': desc,
                        'list_id': {{ active_list.id }}
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function(response) {
                    return response.json();
                })
                .then(function(jsonResponse) {
                    console.log(jsonResponse);
                    const liItem = document.createElement('LI');
                    const liHtml = '<input type="checkbox" class="check-completed" data-id="' +jsonResponse['id']+ '"/>'+jsonResponse['description']+
                        '<button data-id="'+jsonResponse['id']+'" class="delete-button">&cross;</button>';
                    liItem.setAttribute('id', jsonResponse['id']);
                    liItem.innerHTML = liHtml;
                    document.getElementById('todos').appendChild(liItem);
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                    document.getElementById('error').className = '';
                })
            }
        </script>
    </body>
</html>